body{
  font-family: 'Dosis', sans-serif;
}

#head{
  margin-left: 80px;
}

/*.form-horizontal{
  margin-bottom: 30px;
  margin-left: 40px;
}*/

.center-block {
width:400px;
padding:20px;
background-color:#4375d7;
color:#0e0e0d;
border-radius: 25px;
}

.inputs{
  padding: 10px;
}
input{
  width: 100%;
}

button{
  margin-top: 20px;
  margin-left: 20px;
}

.link{
  margin: 20px;
  margin-left: 100px;
  font-size: large;
}

.votes{
  margin: 20px;
  margin-top: 100px;
  margin-left: 30px;
}

.title{
  margin: 20px;
  padding-top: 50px;
  margin-left: 70px;
}

#up{
  color: blue;
  background-color: grey;
  margin-bottom: 20px;
}

#down{
  color: red;
  margin-bottom: 10px;
}

.comment{
  margin: 20px;
  margin-left: 100px;
}

.delete{
  margin-top: 0px;
  margin-left: 0px;
}
